.Start_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../img/bg_start.GIF);
    background-position: center;
    background-size: cover;

    .title {
        width: 626px;
    }

    a {
        img {
            width: 250px;
        }
    }
}

.Loading_wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 250px;
    }
}